<!-- https://angular.io/api?query=pipe -->

<div class="container pt-5">
  <div class="row">
    <div class="col-sm-12 ">
      <input type="text" [(ngModel)]="filteredStatus">
      <hr>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let server of servers | filter:filteredStatus:'status'"
          [ngClass]="getStatusClasses(server)">
          <strong>{{ server.name | shorten: 5 }}</strong> | 
          {{ server.instanceType | uppercase}} | 
          {{ server.started | date:'fullDate' | uppercase}}
           <!--  date = Aug 9, 1920 
                 fullDate =  Monday, August 9, 1920
                 uppercase = SMALL | MONDAY, AUGUST 9, 1920 
                 (be aware of order of pipes, uppercase is last)
             -->
       
          <span
            class="badge badge-secondary float-right"><h4>
            {{ server.status }}</h4>
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
